@page
@model wbzf.Areas.Admin.Pages.Profile.BankingDetailsModel
@{
    ViewData["Title"] = "Banking Details";
}
<style>
    .modal {
        display: none;
        position: fixed;
        padding-top: 30px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.9);
    }

    .modal-content {
        margin: auto;
        display: block;
        width: 80%;
        max-width: 700px;
    }

    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

</style>

<div class="row">
    <div class="col-xs-12">
        <div class="page-title-box">
            <h4 class="page-title"> @ViewData["Title"] </h4>
            <ol class="breadcrumb p-0 m-0">
                <li>
                    <a asp-area="" asp-page="/Index">Home</a>
                </li>

                <li class="active">
                    @ViewData["Title"]
                </li>

            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class=card-box>
    <div class="row">
        <form id="profile-form" class="form-group" method="post" enctype="multipart/form-data">
            <div class="col-md-6">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input asp-for="Input.bankName" class=" required form-control" />
                    <label asp-for="Input.bankName" class="form-label"></label>
                    <span asp-validation-for="Input.bankName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.bankBranchName" class=" required form-control" />
                    <label asp-for="Input.bankBranchName" class="form-label"></label>
                    <span asp-validation-for="Input.bankBranchName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.bankAcNo" min="0" required="" type="number" class="required form-control" />
                    <label asp-for="Input.bankAcNo" class="form-label"></label>
                    <span asp-validation-for="Input.bankAcNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input asp-for="Input.bankIFSC" class=" required form-control" />
                    <label asp-for="Input.bankIFSC" class="form-label"></label>
                    <span asp-validation-for="Input.bankIFSC" class="text-danger"></span>
                </div>

                <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Input.passbookUrl" style="width: 100%;"></label>
                    @if (Model.Input.passbookUrl != null)
                    {
                        <a runat="server" id="linkimage" rel="fancybox">
                            <img id="passBookPhoto" style="width:400px;height:250px; object-fit:cover" src="@Model.Input.passbookUrl" onclick="openModal(this.src)">
                        </a>

                    }
                    else
                    {
                        <img id="passBookPhoto" style="width:450px;height:300px; object-fit:cover" src="">
                    }
                    <input type="file"
                           accept=".png,.jpg,.jpeg,.gif,.tif"
                           asp-for="Input.passbookUrl"
                           class="form-control"
                           style="border:0px!important;padding: 0px;padding-top: 10px;padding-bottom: 30px;"
                           onchange="document.getElementById('passBookPhoto').src = window.URL.createObjectURL(this.files[0])" />
                    <span asp-validation-for="Input.passbookUrl" class="text-danger"></span>
                </div>
            </div>
        </form>
        <div id="myModal" class="modal">
            <span class="close" onclick="closeModal()">×</span>
            <img class="modal-content" id="img01">
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/js/imagePreview.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
    <partial name="_Notification" />
}

