@page
@model wbzf.Areas.Admin.Pages.Schemes.IndexModel

@{
    ViewData["Title"] = "All Schemes";
}
<div class="row">
    <div class="col-xs-12">
        <div class="page-title-box">
            <h4 class="page-title"> @ViewData["Title"] </h4>
            <ol class="breadcrumb p-0 m-0">
                <li>
                    <a asp-area="" asp-page="/Index">Home</a>
                </li>
                <li class="active">
                    @ViewData["Title"]
                </li>

            </ol>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- end row -->
<div class="row">
    <div class="col-sm-12">
        <div class="card-box">

            <div class="demo-box m-t-20">
                <div class="col-6 text-end p-b-10">
                    <a asp-page="create" class="btn btn-primary">
                        <i class="fa fa-plus-square"></i> &nbsp;Create New Scheme
                    </a>
                </div>
                <div class="row">
                    <partial name="_LayoutTable" />

                </div>
               
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/js/schemeList.js" asp-append-version="true"></script>
    
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}