.header-logo__img {
    max-height: 59px;
    padding-top: 5px;
    padding-bottom: 5px;
}

@media only screen and (min-width: 992px) {
    .header-logo__img {
        max-height: 70px;
        padding-top:0px;
        padding-bottom:0px;
    }
}

@media only screen and (min-width: 1367px) {
    .header-logo__img {
        max-height: 70px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
}
