#status-section.status-success {
    margin: -20px;
}
#status-section {
    background: #fff;
    min-height: 376px;
}

    #status-section.status-success #status-section-container {
        color: #212121;
        background-color: rgba(0,183,83,0.07);
        position: relative;
        width: 100%;
        padding: 0;
        overflow: hidden;
    }
    #status-section #status-section-container {
        height: 100%;
        text-align: center;
        font-size: 14px;
        color: #515978;
        line-height: 20px;
        overflow: auto;
        padding: 20px 0;
    }
.mountain-top {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}
    .mountain-top::before {
        content: '';
        position: absolute;
        transform: rotateZ(29deg) rotateY(-45deg) rotateX(220deg);
        width: 60%;
        height: 120px;
        top: -60px;
        right: -36px;
        background: #e0f6ea;
    }


.mountain-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
    .mountain-footer::before {
        bottom: -60px;
        left: -20px;
        background: #c7f4e1;
    }
    .mountain-footer::before, .mountain-footer::after {
        content: '';
        position: absolute;
        width: 96px;
        height: 96px;
        transform: rotateZ(38deg) rotateY(-25deg) rotateX(210deg);
    }
 #status-section.status-success .status-content {
    padding: 88px 0 0;
}
#status-section.status-success #status-section-container .status-content {
    position: relative;
    width: 100%;
    padding: 120px 0;
}

.animoo {
    position: relative;
    margin: 0 auto;
    height: 48px;
    width: 48px;
}
    .animoo .circle {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        opacity: 0.97;
        background-color: #0b5;
        box-shadow: 0 2px 5px 0 rgb(48 51 55 / 11%);
        background: linear-gradient(180deg, #00dd8c 0%, #00b753 100%);
        display: flex;
        align-items: center;
    }
        .animoo .circle::after {
            content: '';
            min-height: inherit;
            font-size: 0;
        }
    .animoo .checkmark {
        top: 0;
        left: 0;
        margin-top: 25px;
        margin-left: 12px;
        position: absolute;
        width: 0.65em;
    }

        .animoo .checkmark::after {
            content: '';
            animation: checkmark 0.4s linear forwards 0.3s;
            transform: scaleX(-1) rotate(135deg);
            opacity: 0;
            transform-origin: left top;
            border-right: 3px solid #fff;
            border-top: 3px solid #fff;
            position: absolute;
            left: 0;
            display: block;
        }

#status-section.status-success #status-section-container .title {
    font-size: 24px;
    margin: 20px 0 0 0;
}

#paymentpage-container .title, #wysiwyg-root .title {
    position: relative;
    color: #0d2366;
    overflow-wrap: break-word;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
}

#status-section.status-success #success-msg {
    margin-top: 8px;
    font-size: 16px;
}

#desktop-container #status-section.status-success #share-details {
    margin-top: 16px;
}

#status-section #share-details {
    padding: 20px 0;
}

#status-section.status-success .success-footer {
    line-height: 20px;
    font-size: 12px;
    text-align: center;
    padding: 20px 0;
}
#status-section .success-footer {
    position: relative;
    width: 100%;
}


.success-checkmark:after {
    content: '✔';
    font-size: 2.5em;
    /* vertical-align: text-top; */
    position: inherit;
    left: 0;
    /* top: 5px; */
    width: 100%;
    height: 100%;
    text-align: center;
    border: 1px solid #aaa;
    background: linear-gradient(180deg, #00dd8c 0%, #00b753 100%);
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgb(48 51 55 / 11%);
}
