@page
@model wbzf.Pages.appealModel
@{
    ViewData["Title"]="Appeal";
}

<section class="promo-primary  promo-primary--shop">
    <picture>
        <source srcset="~/img/all page header.jpg" media="(min-width: 992px)" /><img class="img--bg" src="~/img/all page header.jpg" alt="img" />
    </picture>

    <div class="container">
        <div class="row">
            <div class="col-auto">
                <div class="align-container">
                    <div class="align-container__item">
                        <span class="promo-primary__pre-title">WBZF</span>
                        <h1 class="promo-primary__title"><span>@ViewData["Title"]</span> </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- info banner start-->
				<section class="section no-padding-top">
					<div class="container">
						<div class="row">
							<div class="col-12">
								<div class="info-banner"><img class="img--layout" src="img/info-banner_layout.png" alt="img"/>
									<div class="row margin-bottom">
										<div class="col-12">
											<div class="heading heading--primary heading--center">
												<h2 class="heading__title no-margin-bottom"><span>Appeal for</span> <span>Zakat/Donations</span></h2>
											</div>
										</div>
									</div>
									<div class="row align-items-center">
										<div class="col-lg-5">
											<div class="info-banner__img"><img src="img/appeal.jpg" alt="img"/></div>
										</div>
										<div class="col-lg-6">
											<p><strong>My dearest friends, brothers and sisters </strong></p>
											<p><strong>As salamo alaikum</strong></p>
											<p><strong>Ramadan Greetings from West Bengal Zakat Foundation (WBZF)</strong></p>
											<p>I hope you are succeeding by the grace of Allah SWT.</p>
											<p>The goal of Zakat is to purify one’s wealth while also assisting those in need. It is one of Islam’s Five Pillars and is considered a religious responsibility for Muslims who meet certain wealth standards. Zakat is only 2.5% of the surplus wealth beyond one’s family’s livelihood needs. It is generally calculated as a percentage of a person’s income or assets and given to the poor and needy. Giving Zakat is also thought to help purify one’s soul and bring Allah’s blessings.</p>
										</div>
										<div class="col-lg-12">
											<p>You are among the fortunate ones! Allah has favoured you with generous wealth and blessing. Alhamdu Lillah!	</p>
											<p>We humbly encourage you to contribute a portion or the entire amount of your Zakat through the West Bengal Zakat Foundation. This is a self-governing organization whose mission is to collect and distribute Zakat funds to deserving recipients in an effective way and in conformity with Islamic principles and teachings. The primary purpose of the foundation is to assist those in need, such as the poor, orphans, widows, and others who are considered Zakat eligible. We welcome you to visit our office.	</p>
											<p>In our country, the development potential of zakat is mostly unacknowledged and underutilized. Zakat has the potential to create a marvellous social security system that cares for every individual in a Muslim society. As a prominent member of society and a devout Muslim, we ask for your help in spreading the objective of the West Bengal Zakat Foundation purely to honour Almighty Allah SWT.	</p>
											<p>With best Wishes..</p>

											<p><strong>Board of Trustees</strong></p>
											<p><strong>West Bengal Zakat Foundation</strong></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<!-- info banner end-->