@page
@model wbzf.Pages.DisclaimersModel
@{
    ViewData["Title"] = "Disclaimers";
}

<section class="section  storie-details">
    <div class="container">
      
        <div class="row">
            <div class="col-xl-12">
               
                        <h6 class="storie-details__title">Disclaimers</h6>
                      <p>West Bengal  Zakat Foundation  strives to facilitate dealings for its visitors (Zakat payers, and  Zakat beneficiaries). While we affirm that we are making strenuous efforts to ensure the utmost accuracy and updating of the content available on this web portal, we not claim to guarantee this 100% due to the fact that some of the information and procedures are periodically changed..</p>
                      <p>However, it gives us pleasure in the Zakat Foundation  to keep us informed about any change in procedures or data contained in this section so that we can review and develop it for the benefit of all visitors (Zakat payers, and Zakat beneficiaries).</p>
                      <p>You can contact us through the mobile no/email given on this page : <a href="/Contact_us">Contact Us</a></p>

            </div>
        </div>
    </div>
</section>
