@page
@model wbzf.Pages.MissionModel
@{
    ViewData["Title"]="Mission";
}

<section class="promo-primary">
    <picture>
        <source srcset="img/all page header.jpg" media="(min-width: 992px)" /><img class="img--bg" src="img/all page header.jpg" alt="img" />
    </picture>

    <div class="container">
        <div class="row">
            <div class="col-auto">
                <div class="align-container">
                    <div class="align-container__item">
                        <span class="promo-primary__pre-title">WBZF</span>
                        <h1 class="promo-primary__title"><span>@ViewData["Title"]</span> </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section  storie-details">
    <div class="container">
        <div class="row offset-margin text-filled">
            <div class="col-sm-12 col-lg-12">
                <p>The objectives of West Bengal Zakat Foundation are :</p>
                <ol id=zakat>
                    <li >Transform today's beneficiaries into tomorrow's benefactors.</li>
                    <li >Reduce poverty and enhance the number of persons entitled to pay Zakat for social progress.</li>
                    <li >Encourage Muslims to contribute their zakat in a systematic manner.</li>
                    <li >Create a welfare system in society.</li>
                    <li >Promote and implement Zakat as an instrument for poverty alleviation.</li>
                    <li >Ensure the distribution of wealth in society.</li>
                    <li >Foster an attitude of sharing.</li>
                    <li >Reduce wealth greed.</li>
                    <li >Foster communal harmony and love</li>
                    <li >Explain the rules (Fiqh) of Zakat and how it is calculated.</li>
                    <li >Reduce financial risks and increase donation security.</li>
                </ol>
            </div>
            
        </div>
        
    </div>
</section>



