@page
@model wbzf.Pages.ObjectiveModel
@{
    ViewData["Title"]="Objective";
}

<section class="promo-primary  promo-primary--shop">
    <picture>
        <source srcset="img/all page header.jpg" media="(min-width: 992px)" /><img class="img--bg" src="img/all page header.jpg" alt="img" />
    </picture>

    <div class="container">
        <div class="row">
            <div class="col-auto">
                <div class="align-container">
                    <div class="align-container__item">
                        <span class="promo-primary__pre-title">WBZF</span>
                        <h1 class="promo-primary__title"><span>@ViewData["Title"]</span> </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section  storie-details">
    <div class="container">
        <div class="row offset-margin text-filled">
            <div class="col-sm-12 col-lg-12">
                <ol id=zakat>
                    <li >Integrated methodical approach for result oriented utilization of  Zakat, Fitra, Waqf & Sadaqah/Charity etc.</li>
                    <li>Provides managements services through institution building for effective mobilization, distribution & utilization of  Zakat ensuring transparency & accountability.</li>
                    <li>Ensuring Shariah Compliance</li>
                </ol>
            </div>
            
        </div>
        
    </div>
</section>

