@page
@model wbzf.Pages.privacy_policyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<section class="section  storie-details">
    <div class="container">
      
        <div class="row">
            <div class="col-xl-12">
                <ol>
                    <li>
                        <h6 class="storie-details__title">Privacy Policy</h6>
                        <p>West Bengal  Zakat Foundation is committed to protect the rights of all visitors of the Website. We are committed to maintain the confidentiality of sensitive information, and we have created this security and privacy policy to declare our approach in information collection and dissemination on this Website.</p>
                        <p>Our server works automatically to know your IP address when you visit our Website. (Your IP address is the number of your computer, which allows the other computers connected to the Internet to know the path of the sent data, without knowing your identity).</p>
                        <p>Using your IP address helps diagnose problems that occur with our server, and conduct statistics to measure the use of the Website, and we do not allow anyone outside the framework of the technical team of the Zakat Foundation to access your IP.</p>
                        <p>In order to provide a better service and a more effective Website, some sections of the Website may use cookies (cookies) as part of the interaction with your browser. Cookies will not try to read any of the information on your hard drive, and we do not collect personal information through cookies to know your identity or your email address.</p>
                        <p>When you visit some parts of this website, you may be asked to provide personal information to reveal your identity (such as your name, address, gender etc.), all of which are necessary information to complete your dealing.</p>
                       
                    </li>
                   <li>
                        <h6 class="storie-details__title">Protection of Personal Information</h6>
                       <p>We assure you that the Website contains security procedures to protect the information you provide to us.  We take utmost care of your personal information and will never share or sell your details to third parties. All your sensitive information like credit card or bank details are not stored in our system and we never call donors to ask for their Debit or Credit Card PIN or Net banking password.</p>
                    </li>
                    <li>
                        <h6 class="storie-details__title">Other Websites Links</h6>
                       <p>Some links on “the Website” allow you to access websites that are not operated by the West Bengal Zakat Foundation. The Zakat Foundation does not control such websites, nor does it review their content. The Zakat Foundation makes available these links to its users for convenience, but they do not contain any material to the effect of promoting any products, services, or information, and do not imply any connection between the WB Zakat Foundation and the operators of such websites.</p>
                    </li>
                   
                </ol>


            </div>
        </div>
    </div>
</section>
