@page
@model wbzf.Pages.Refund_PolicyModel
@{
    ViewData["Title"] = "Refund Policy";
}

<section class="section  storie-details">
    <div class="container">
      
        <div class="row">
            <div class="col-xl-12">
               
                        <h6 class="storie-details__title">Refund Policy</h6>
                       <p>West Bengal Zakat Foundation takes utmost care to process and utilize Zakat / donations / Bank Interest as per SHARIAH LAW and also the instructions given by our donors. Donations made to the West Bengal Zakat Foundation are final and cannot be refunded, except in certain cases where Donors have a genuine reason for refunds and is approved by the Trustee Board members.</p>
                       <p>West Bengal Zakat Foundation has created a donation refund policy to ensure fair and transparent processing of requests for refund of donations. West Bengal Zakat Foundation expects that all donors will exercise due care and diligence while making their Zakat / Donations / Bank Interest etc. We also recognize that a donation may be made erroneously or the donors may change their mind after transferring the amount to WBZF.</p>
                       <p>West Bengal Zakat Foundation is not obliged to make refunds and may, in its discretion, decline any request for refund of donations.</p>
                       <p>If you would like your donation to the WBZF to be refunded, kindly send a request through the <a href="/Contact_us"> contact us</a> page with the reason for refund along with the transaction details. Your request must reach the West Bengal Zakat Foundation within 15 days from the date of donation.</p>
                       <p>We will examine each request for refund of donation and endeavour to make the refund. We may also seek further information/documents and donors must co-operate in this regard.</p>
                       <p>Thanks</p>
                       <p>WBZF</p>


            </div>
        </div>
    </div>
</section>