@page
@using wbzf.Utility
@model wbzf.Pages.scholarshipModel
@{
    ViewData["Title"]="Scholarship";
}

<section class="promo-primary  promo-primary--shop">
    <picture>
        <source srcset="img/all page header.jpg" media="(min-width: 992px)" /><img class="img--bg" src="img/all page header.jpg" alt="img" />
    </picture>

    <div class="container">
        <div class="row">
            <div class="col-auto">
                <div class="align-container">
                    <div class="align-container__item">
                        <span class="promo-primary__pre-title">WBZF</span>
                        <h1 class="promo-primary__title"><span>@ViewData["Title"]</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section storie-details">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">

                <h6 class="storie-details__title">WBZF Zakat Scholarship</h6>
                <p>WBZF  has initiated a ‘ Zakat Scholarship Fund’ to provide financial support to economically poor  needy Muslim students for Higher & Technical Education.</p>
                <p> We firmly believe that Education has the power to salvage the community from the throes of ignorance and widespread adversity and usher in a new era of prosperity.  As such we feel that there needs to be focus on Higher Education so that talented and able individuals from the community can gain the right skills and qualifications required to grab contemporary opportunities and walk at the same pace with the fast-evolving world.  </p>
                <p>We hope that by virtue of their own talent and merit they will be able to establish themselves as a responsible good citizen and assume leading roles to help our beloved country to progress further in years to come. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">

                <h6 class="storie-details__title">Eligibility Criteria:</h6>
                <ul>
                    <li>Students belonging to <i>economically poor</i> muslim families from West Bengal for pursuing higher professional education.</li>

                    <li>Students must be eligible to receive Zakat under Sharia guidelines.</li>

                    <li>Students should have passed at least Class 10th / equivalent from any Board.</li>

                    <li>Preference will be given to Students who pursue higher education in the Professional disciplines of Medical, Law, Journalism, Engineering, with special preference given to Top Universities or Colleges in India like IITs, IIMs, IISC or GLC and others recognized by UGC/ AICTE.</li>

                    <li>It would also cover technical and vocational courses in Industrial Training Institutes/ Industrial Training Centers affiliated with the National Council for Vocational Training (NCVT) of classes at Graduation level.</li>

                    <li>The disbursal will be done only through Cheques/Online payments to the respective Institutions and <b>no Cash disbursal will be entertained.</b></li>

                    <li>The Scholarship will be awarded only to Meritorious and Needy Students after complete background verification.</li>
                </ul>

            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">

                <h6 class="storie-details__title">Notes:</h6>
                <ol>
                    <li><strong>The background verification will be done by Scrutiny Committee.</strong></li>
                    <li><strong>The Scholarship amount will be sanctioned as per recommendations from Scrutiny Committee (Depending on the availability of Zakat funds).</strong></li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="scholarship-info">

                <h2>Zakat Scholarship Scheme</h2>

                <p>
                    It has been noticed that each year after declaration of JEE / NEET/ CLAT result and other competitive exam results, many of those students who crack their seats fail to arrange counselling fees, admission fees and other academic fees at the time of their admission within a very short period of time.
                </p>

                <p>
                    Govt Scholarship scheme are there but the fact is that after admission at any Institution students can apply for those scholarships and it will take time to get those Scholarship amount in hand. At the Initial stage most of the students from economically weaker sections fall in great trouble to arrange those amount at a time.
                </p>

                <p>
                    We have decided to help them overcome this hurdle through our Zakat scholarship scheme.
                </p>

                <p>Thanks</p>

            </div>
        </div>

        <a class="button stories-item__button button--primary" asp-page="CommonApplicationForm">Apply Now</a>
    </div>
</section>

<style>
    .scholarship-info {
        border: 2px solid #333;
        border-radius: 10px;
        padding: 20px;
        margin: 20px 0;
    }

        .scholarship-info h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .scholarship-info p {
            line-height: 1.5;
            margin-bottom: 10px;
        }

        .scholarship-info strong {
            color: #006bb3;
        }
</style>

