@page
@model wbzf.Pages.Video_Lesson_In_UrduModel
@{
    ViewData["Title"] = "Video Lessons in Urdu";
}

<!-- article start-->
<section class="section article">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
                <div class="heading heading--primary heading--center">
                    <h2 class="heading__title no-margin-bottom">@ViewData["Title"]</h2>
                </div>
                <div class="article__img"><img src="img/maulana_khalilur_rahaman.jpeg" alt="img" /></div>
                <h2 class="article-information__title" style="color:#4a4c70">Maulana Khalilur Rahman Sajjad Nomani</h2>
                <p class="article__text-filled text-filled">
                   Hazrat Maulana Khalilur Rahman Sajjad Nomani Sahab is an Indian Islamic scholar,
spokesperson of All India Muslim Personal Law Board, educator and author of many Islamic
books.  Nomani received his education in his hometown, graduating from Darul Uloom
Nadwatul Ulama and Darul Uloom Deoband. Later he studied at the Islamic University of
Madinah and completed a doctorate in Quranic Studies.
                </p>

            </div>
        </div>
    </div>
</section>
<!-- article end-->
<!-- causes inner start-->
<section class="article">
    <div class="container">
        <div class="row offset-margin">
            <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
                <div class="causes-item causes-item--style-3">
                    <div class="causes-item__body">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-xl-6">
                                <div class="">
                                    <iframe width="358" height="259" src="https://www.youtube.com/embed/paRwCtvpQEo" title="&quot;Zakat Ka Ijtemaaei Nizaam Waqt-ki Ahem Zaroorat&quot;  Maulana Khalilur Rahman Sajjad Nomani db" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                   
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-6">

                                <div class="causes-item__top">
                                    <h6 class="causes-item__title"> <a href="https://youtu.be/paRwCtvpQEo">"Zakat Ka Ijtemaaei Nizaam Waqt-ki Ahem Zaroorat"</a></h6>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
    
</section>
<!-- causes inner end-->