@page
@model wbzf.Pages.Video_Lesson_In_EnglishModel
@{
    ViewData["Title"] = "Video Lessons in English";
}
<!-- article start-->
<section class="section article">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
                <div class="heading heading--primary heading--center">
                    <h2 class="heading__title no-margin-bottom">@ViewData["Title"]</h2>
                </div>
                <div class="article__img"><img src="img/mufti_ismail_maink.png" alt="img" /></div>
                <h2 class="article-information__title" style="color:#4a4c70">Mufti Dr Ismail Menk</h2>
                <p class="article__text-filled text-filled">
                    Mufti Dr Ismail Menk is a leading global Islamic Scholar. He studied Shariah in Madinah and holds a Doctorate of Social Guidance from Aldersgate University.                                               Mufti Menk’s work has gained worldwide recognition and he has been named one of                                        “The Top 500 Most Influential Muslims in the World”
                </p>

            </div>
        </div>
    </div>
</section>
<!-- article end-->
<!-- causes inner start-->
<section class="article">
    <div class="container">
        <div class="row offset-margin">
            <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
                <div class="causes-item causes-item--style-3">
                    <div class="causes-item__body">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-xl-6">
                                <div class="">
                                    <iframe width="338" height="259" src="https://www.youtube.com/embed/qhCV9XvRGug" title="Mufti Menk - Zakah (Charity: A Fundmental Pillar Of Islam) Part 1/5" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-6">

                                <div class="causes-item__top">
                                    <h6 class="causes-item__title"> <a href="https://youtu.be/qhCV9XvRGug">Mufti Menk - Zakah (Charity: A Fundmental Pillar Of Islam) Part 1/5</a></h6>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
           <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
                <div class="causes-item causes-item--style-3">
                    <div class="causes-item__body">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-xl-6">
                                <div class="">
                                    <iframe width="338" height="259" src="https://www.youtube.com/embed/wXFh61hpvAk" title="Mufti Menk - Zakah (Charity: A Fundmental Pillar Of Islam) Part 2/5" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-6">

                                <div class="causes-item__top">
                                    <h6 class="causes-item__title"> <a href="https://youtu.be/wXFh61hpvAk">Mufti Menk - Zakah (Charity: A Fundmental Pillar Of Islam) Part 2/5</a></h6>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
           <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
                <div class="causes-item causes-item--style-3">
                    <div class="causes-item__body">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-xl-6">
                                <div class="">
                                   <iframe width="338" height="259" src="https://www.youtube.com/embed/HY0oR66OuUA" title="Mufti Menk - Zakah (Charity: A Fundmental Pillar Of Islam) Part 3/5" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-6">

                                <div class="causes-item__top">
                                    <h6 class="causes-item__title"> <a href="https://youtu.be/HY0oR66OuUA">Mufti Menk - Zakah (Charity: A Fundmental Pillar Of Islam) Part 3/5</a></h6>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
           <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
                <div class="causes-item causes-item--style-3">
                    <div class="causes-item__body">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-xl-6">
                                <div class="">
                                    <iframe width="338" height="259" src="https://www.youtube.com/embed/3RvWKdHINpY" title="Mufti Menk - Zakah (Charity: A Fundmental Pillar Of Islam) Part 4/5" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-6">

                                <div class="causes-item__top">
                                    <h6 class="causes-item__title"> <a href="https://youtu.be/3RvWKdHINpY">Mufti Menk - Zakah (Charity: A Fundmental Pillar Of Islam) Part 4/5</a></h6>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
           <div class="col-lg-10 offset-lg-1 col-xl-8 offset-xl-2">
                <div class="causes-item causes-item--style-3">
                    <div class="causes-item__body">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-xl-6">
                                <div class="">
                                   <iframe width="338" height="259" src="https://www.youtube.com/embed/jASDfP4Seck" title="Mufti Menk - Zakah (Charity: A Fundmental Pillar Of Islam) Part 5/5" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col-lg-6 col-xl-6">

                                <div class="causes-item__top">
                                    <h6 class="causes-item__title"> <a href="https://youtu.be/jASDfP4Seck">Mufti Menk - Zakah (Charity: A Fundmental Pillar Of Islam) Part 5/5</a></h6>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    
</section>
<!-- causes inner end-->