@page
@model wbzf.Pages.VisionModel
@{
    ViewData["Title"]="Vision";
}

<section class="promo-primary  promo-primary--shop">
    <picture>
        <source srcset="img/all page header.jpg" media="(min-width: 992px)" /><img class="img--bg" src="img/all page header.jpg" alt="img" />
    </picture>

    <div class="container">
        <div class="row">
            <div class="col-auto">
                <div class="align-container">
                    <div class="align-container__item">
                        <span class="promo-primary__pre-title">WBZF</span>
                        <h1 class="promo-primary__title"><span>@ViewData["Title"]</span> </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section  storie-details">
    <div class="container">
        <div class="row offset-margin text-filled">
            <div class="col-sm-12 col-lg-12">
               <p>
                   To organize the prevalent mode of cluttered philanthropy with an aim of channelizing  Zakat, Fitra, Sadaqa/Charity, Riba, Donations etc to meet the welfare and developmental needs of poor and marginalized sections of our society in a more scientific and organized manner and all other matters related to the developmental issues of Muslim minorities and underprivileged sections in our country.
               </p>
            </div>
           
        </div>
       
    </div>
</section>