@page
@model wbzf.Pages.zakat_calculatorModel

@{
    ViewData["Title"]="Zakat Calculator";
}

<section class="promo-primary  promo-primary--shop">
    <picture>
        <source srcset="~/img/all page header.jpg" media="(min-width: 992px)" /><img class="img--bg" src="~/img/all page header.jpg" alt="img" />
    </picture>

    <div class="container">
        <div class="row">
            <div class="col-auto">
                <div class="align-container">
                    <div class="align-container__item">
                        <span class="promo-primary__pre-title">WBZF</span>
                        <h1 class="promo-primary__title"><span>@ViewData["Title"]</span> </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- section start-->
<section class="section about--front-2 background--brown" id="about">
    <div class="container">
        <div class="row">
            @* <div class="col-xl-4">
            <div class="heading heading--primary">
            <span class="heading__pre-title">Zakat Calculator</span>

            </div>
            </div> *@
            <div class="col-xl-12">

                <span class="heading__pre-title">Zakat Calculator</span>

                <p>
                    <strong>
                        WBZF presents the Zakat Calculator – an easy approach to calculating your Zakat.
                        For any further clarifications or more details on Zakat calculations, kindly contact your local Imam / Mufti.
                    </strong>
                </p>


            </div>

        </div>
        <div class="row">
            <iframe width="1080" height="900" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=4213E35D0971B000%21116&authkey=%21AC5-PcooP8LTwMk&em=2&wdAllowInteractivity=False&AllowTyping=True&Item='Zakat%20Calculations'!Print_Area&wdHideGridlines=True&wdDownloadButton=True&wdInConfigurator=True&wdInConfigurator=True&edesNext=false&resen=false&ed1JS=false"></iframe>
            <p> <strong>By Courtesy AMP, Mumbai</strong> </p>

        </div>

    </div>
</section>
<!-- section end-->
