@page
@model wbzf.Pages.Zakat_receipentsModel
@{
    ViewData["Title"]="Zakat Receipents";
}

<section class="promo-primary  promo-primary--shop">
    <picture>
        <source srcset="img/all page header.jpg" media="(min-width: 992px)" /><img class="img--bg" src="img/all page header.jpg" alt="img" />
    </picture>

    <div class="container">
        <div class="row">
            <div class="col-auto">
                <div class="align-container">
                    <div class="align-container__item">
                        <span class="promo-primary__pre-title">WBZF</span>
                        <h1 class="promo-primary__title"><span>Recipients of</span> <span>Zakat</span></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section  storie-details">
    <div class="container">
        <div class="row offset-margin text-filled">
            <p>Here are the eight categories of Zakat-eligible people set by Allah in the Quran (Surat Al-Tawbah, 9:60)</p>
            <div class="col-sm-12 col-lg-6">

                <ol id=zakat>
                    <li>The poor (Faqir/Fuqara)</li>
                    <li>The needy (Miskeen/Masakeen)</li>
                    <li>The administrators of zakah (Aameleen)</li>
                    <li>Influencing heart(Muallaf)</li>

                </ol>
            </div>
            <div class="col-sm-12 col-lg-6">
                <ol id=zakat class="continued" start="5">
                    <li>Freeing from slavery (Riqab)</li>
                    <li>Debtors(Gharimin)</li>
                    <li>In way of Allah(Fisabillillah)</li>
                    <li>Wayfarer (Ibnus Sabil)</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <ul>
                    <li>
                        <h6 class="storie-details__title">1. and 2. Fuqara is penny less and Masakeen is needy one</h6>
                        <p>
                            <ol type="A">
                                <li>
                                    <p style="font-weight:600;text-decoration:underline">The poor (Faqir/Fuqara)</p>
                                    <p> Those without any means of livelihood and material possessions.</p>
                                </li>
                                <li>
                                    <p style="font-weight:600;text-decoration:underline">The needy (Miskeen/Masakeen)</p>
                                    <p>Those without sufficient means of livelihood to meet their basic necessities. For instance, those who, although may have a job, a house and a car, but whose income is below the minimum requirement.</p>
                                </li>
                                <li>Richness means owning what is enough for ones need; A person in need qualifies as poor & needy(Miskeen)</li>

                            </ol>
                        </p>
                    </li>
                    <li>
                        <h6 class="storie-details__title">3. Aameleen</h6>
                        <p>
                            Those appointed to manage and administer zakat. This category is sub-divided into the following categories:
                            <ol type="A">
                                <li>Group of people who go out to the society and determine those who fall Fuqara and Miskeen categories.</li>
                                <li>Those who collect the Zakat money.</li>
                                <li>The accountant of the Zakat money.</li>
                                <li>The administrator, manager, clerical worker or secretary who puts the files in order.</li>
                                <li>Those who handle Zakat distributions.</li>
                                <li>The auditor who audits overall Zakat management and administration.</li>
                            </ol>
                        </p>
                    </li>
                    <li>
                        <h6 class="storie-details__title">4. Influencing Heart (Muallaf)</h6>
                        <p>

                            <ol type="A">
                                <li>Muallafatil Quloob; Influence hearts towards Islam through charity, kindness</li>
                                <li>Those who are inclined to enter or have already converted to Islam.</li>
                            </ol>
                        </p>
                    </li>
                    <li>
                        <h6 class="storie-details__title">5. Freeing from Slavery (Riqab)</h6>
                        <p>

                            <ol type="A">
                                <li>Riqab; neck, signifies someone who is freed from slavery</li>
                                <li>Slaves and prisoners of war</li>
                            </ol>
                        </p>
                    </li>
                    <li>
                        <h6 class="storie-details__title">6. Debtors (Gharimin)</h6>
                        <p>

                            <ol type="A">
                                <li>Gharimeen; Debt, bankruptcy</li>
                                <li>Condition that debtor himself should not possess sufficient funds or goods to clear the debt</li>
                                <li>Debt incurred for genuine purpose incl. unexpected penalty, loss of employment and not due to gambling, drinking, intoxicants or lavish expense in marriage.</li>
                            </ol>
                        </p>
                    </li>
                    <li>
                        <h6 class="storie-details__title">7. In the way of Allah (Fisabillilah)</h6>
                        <p>
                            Fi sabilillah; Zakat can be used to finance any form of struggle or work for the love of Allah. e.g.
                            <ol type="A">
                                <li>Da’wah;</li>
                                <li>building & developing society’s infrastructure;</li>
                                <li>defending Muslims, who are being oppressed;</li>
                                <li>assisting poor travellers</li>
                                <li>sponsoring a student’s educational expenses.</li>
                            </ol>
                        </p>
                    </li>
                    <li>
                        <h6 class="storie-details__title">8. Wayfarer</h6>
                        <p>
                             Ibnus Sabil; Can be paid from Zakat, even though he may be rich at home, if during the journey he becomes penniless and is unable to meet his expenses to return.
                        </p>
                    </li>

                </ul>


            </div>
        </div>
    </div>
</section>
