@page
@model wbzf.Pages.Zakat_In_The_QuranModel
@{
    ViewData["Title"] = "Zakat in The Quran";
}

<section class="section  storie-details">
    <div class="container">
      
        <div class="row">
            <div class="col-xl-12">
                 <div class="heading heading--primary heading--center">
                    <h2 class="heading__title no-margin-bottom">@ViewData["Title"]</h2>
                </div>
                <ul>
                    <li>
                        <h6 class="storie-details__title">[21:73]</h6>
                        <p>“We made them (Abraham and his sons) imams who guided in accordance with our commandments, and we taught them how to work righteousness, and how to observe the Contact Prayers (Salat) and the obligatory charity (Zakat). To us, they were devoted worshipers.”</p>
                    </li>
                    <li>
                        <h6 class="storie-details__title">[17:26-29]</h6>
                        <p>You shall give the due alms to the relatives, the needy, the poor, and the travelling alien, but do not be excessive, extravagant.</p>
                        <p>The extravagant are brethren of the devils, and the devil is unappreciative of his Lord. Even if you have to turn away from them, as you pursue the mercy of your Lord, you shall treat them in the nicest manner. You shall not keep your hand stingily tied to your neck, nor shall you foolishly open it up, lest you end up blamed and sorry.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[6:141]</h6>
                        <p>“Eat from their fruits, and give the due alms on the day of harvest”</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[2:215]</h6>
                        <p>“They ask you about giving: say, “The charity you give shall go to the parents, the relatives, the orphans, the poor, and the travelling alien.” Any good you do, God is fully aware thereof.”</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[9:60]</h6>
                        <p>Charities(Sadaqaat) shall go to the poor, the needy, the workers who collect them, the new converts, to free the slaves, to those burdened by sudden expenses, in the cause of Allah, and to the travelling alien. Such is GOD’s commandment. GOD is Omniscient, Most Wise.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[2:3]</h6>
                        <p>who believe in the unseen, observe the Contact Prayers (Salat), and from our provisions to them, they give to charity.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[2:43]</h6>
                        <p>You shall observe the Contact Prayers (Salat) and give the obligatory charity (Zakat), and bow down with those who bow down.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[2:83]</h6>
                        <p>We made a covenant with the Children of Israel: “You shall not worship except GOD. You shall honor your parents and regard the relatives, the orphans, and the poor. You shall treat the people amicably. You shall observe the Contact Prayers (Salat) and give the obligatory charity (Zakat).” But you turned away, except a few of you, and you became averse.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[2:110]</h6>
                        <p>You shall observe the Contact Prayers (Salat) and give the obligatory charity (Zakat). Any good you send forth on behalf of your souls, you will find it at Allah. Allah is seer of everything you do.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[2:177]</h6>
                        <p>Righteousness is not turning your faces towards the east or the west. Righteous are those who believe in GOD, the Last Day, the angels, the scripture, and the prophets; and they give the money, cheerfully, to the relatives, the orphans, the needy, the travelling alien, the beggars, and to free the slaves; and they observe the Contact Prayers (Salat) and give the obligatory charity (Zakat); and they keep their word whenever they make a promise; and they steadfastly persevere in the face of persecution, hardship, and war. These are the truthful; these are the righteous.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[2:196]</h6>
                        <p> You shall have fear of the complete rites of Hajj and`Umrah for GOD. If you are prevented, you shall send an offering, and do not resume cutting your hair until your offering has reached its destination. If you are ill, or suffering a head injury (and you must cut your hair), you shall expiate by fasting, or giving to charity, or some other form of worship. During the normal Hajj, if you break the state of Ihraam (sanctity) between `Umrah and Hajj, you shall expiate by offering an animal sacrifice. If you cannot afford it, you shall fast three days during Hajj and seven when you return home – this completes ten – provided you do not live at the Sacred Masjid. You shall have fear of GOD, and know that GOD is strict in enforcing retribution.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[2:219]</h6>
                        <p>They ask you about intoxicants and gambling: say, “In them there is a gross sin, and some benefits for the people. But their sinfulness far outweighs their benefit.” They also ask you what to give to charity: say, “The excess.” GOD thus clarifies the revelations for you, that you may reflect,</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[2:254]</h6>
                        <p>O you who believe, you shall give to charity from the provisions we have given to you, before a day comes where there is no trade, no nepotism, and no intercession. The disbelievers are the unjust.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[2:262]</h6>
                        <p>Those who spend their money in the cause of GOD, then do not follow their charity with insult or harm, will receive their recompense from their Lord; they have nothing to fear, nor will they grieve.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[2:263]</h6>
                        <p>Kind words and compassion are better than a charity that is followed by insult. GOD is Rich, Clement.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[2:267]</h6>
                        <p>O you who believe, you shall give to charity from the good things you earn, and from what we have produced for you from the earth. Do not pick out the bad therein to give away, when you yourselves do not accept it unless your eyes are closed. You should know that Allah is Rich, Praiseworthy.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[2:270]</h6>
                        <p>Any charity you give, or a charitable pledge you fulfill, GOD is fully aware thereof. As for the wicked, they will have no helpers.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[2:272]</h6>
                        <p>You are not responsible for guiding anyone. GOD is the only one who guides whoever chooses (to be guided). Any charity you give is for your own good. Any charity you give shall be for the sake of GOD. Any charity you give will be repaid to you, without the least injustice.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[2:273]</h6>
                        <p>Charity shall go to the poor who are suffering in the cause of GOD, and cannot emigrate. The unaware may think that they are rich, due to their dignity. But you can recognize them by certain signs; they never beg from the people persistently. Whatever charity you give, GOD is fully aware thereof.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[2:274]</h6>
                        <p>Those who give to charity night and day, secretly and publicly, receive their recompense from their Lord; they will have nothing to fear, nor will they grieve.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[2:277]</h6>
                        <p>Those who believe and lead a righteous life, and observe the Contact Prayers (Salat), and give the obligatory charity (Zakat), they receive their recompense from their Lord; they will have nothing to fear, nor will they grieve.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[2:280]</h6>
                        <p>If the debtor is unable to pay, wait for a better time. If you give up the loan as a charity, it would be better for you, if you only knew.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[3:92]</h6>
                        <p>You cannot attain righteousness until you give to charity from the possessions you love. Whatever you give to charity, GOD is fully aware thereof.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[3:134]</h6>
                        <p>who give to charity during the good times, as well as the bad times. They are suppressors of anger, and pardoners of the people. GOD loves the charitable.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[4:38]</h6>
                        <p>They give money to charity only to show off, while disbelieving in GOD and the Last Day. If one’s companion is the devil, that is the worst companion.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[4:77]</h6>
                        <p>Have you noted those who were told, “You do not have to fight; all you need to do is observe the Contact Prayers (Salat) and give the obligatory charity (Zakat),” then, when fighting was decreed for them, they feared the people as much as they feared GOD, or even more? They said, “Our Lord, why did You force this fighting on us? If only You respite us for awhile!” Say, “The materials of this world are nil, while the Hereafter is far better for the righteous, and you never suffer the slightest injustice.”</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[4:162]</h6>
                        <p>As for those among them who are well founded in knowledge, and the believers, they believe in what was revealed to you, and in what was revealed before you. They are observers of the Contact Prayers (Salat), and givers of the obligatory charity (Zakat); they are believers in GOD and the Last Day. We grant these a great recompense.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[5:12]</h6>
                        <p>GOD had taken a covenant from the Children of Israel, and we raised among them twelve patriarchs. And GOD said, “I am with you, so long as you observe the Contact Prayers (Salat), give the obligatory charity (Zakat), and believe in My messengers and respect them, and continue to lend GOD a loan of righteousness. I will then remit your sins, and admit you into gardens with flowing streams. Anyone who disbelieves after this, has indeed strayed off the right path.”</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[5:45]</h6>
                        <p>And we decreed for them in it that: the life for the life, the eye for the eye, the nose for the nose, the ear for the ear, the tooth for the tooth, and an equivalent injury for any injury. If one forfeits what is due to him as a charity, it will atone for his sins. Those who do not rule in accordance with GOD’s revelations are the unjust.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[5:55]</h6>
                        <p>Your real allies are GOD and His messenger, and the believers who observe the Contact Prayers (Salat), and give the obligatory charity (Zakat), and they bow down.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[7:156-157]</h6>
                        <p>“And decree for us righteousness in this world, and in the Hereafter. We have repented to You.” He said, “My retribution befalls whomever I will. But My mercy encompasses all things. However, I will specify it for those who (1) lead a righteous life, (2) give the obligatory charity (Zakat), (3) believe in our revelations, and “(4) follow the messenger, the gentile prophet (Muhammad), whom they find written in their Torah and Gospel. He exhorts them to be righteous, enjoins them from evil, allows for them all good food, and prohibits that which is bad, and unloads the burdens and the shackles imposed upon them. Those who believe in him, respect him, support him, and follow the light that came with him are the successful ones.”</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[9:11]</h6>
                        <p>If they repent and observe the Contact Prayers (Salat) and give the obligatory charity (Zakat), then they are your brethren in religion. We thus explain the revelations for people who know.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[9:18]</h6>
                        <p>The only people to frequent GOD’s masjids are those who believe in GOD and the Last Day, and observe the Contact Prayers (Salat), and give the obligatory charity (Zakat), and do not fear except GOD. These will surely be among the guided ones.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[9:54]</h6>
                        <p>What prevented the acceptance of their spending is that they disbelieved in GOD and His messenger, and when they observed the Contact Prayers (Salat), they observed them lazily, and when they gave to charity, they did so grudgingly.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[9:71]</h6>
                        <p>The believing men and women are allies of one another. They advocate righteousness and forbid evil, they observe the Contact Prayers (Salat) and give the obligatory charity (Zakat), and they obey GOD and His messenger. These will be showered by GOD’s mercy. GOD is Almighty, Most Wise.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[9:103]</h6>
                        <p>Take from their money a charity to purify them and sanctify them. And encourage them, for your encouragement reassures them. GOD is Hearer, Omniscient.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[14:31]</h6>
                        <p>Exhort My servants who believed to observe the Contact Prayers (Salat), and to give (to charity) from our provisions to them, secretly and publicly, before a day comes where there is neither trade, nor nepotism.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[16:75]</h6>
                        <p>GOD cites the example of a slave who is owned, and is totally powerless, compared to one whom we blessed with good provisions, from which he gives to charity secretly and publicly. Are they equal? Praise be to GOD, most of them do not know.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[16:90]</h6>
                        <p>GOD advocates justice, charity, and regarding the relatives. And He forbids evil, vice, and transgression. He enlightens you, that you may take heed.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[21:73]</h6>
                        <p>We made them imams who guided in accordance with our commandments, and we taught them how to work with righteousness, and how to observe the Contact Prayers (Salat) and the obligatory charity (Zakat). To us, they were devoted worshipers.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[22:35]</h6>
                        <p>They are the ones whose hearts tremble upon mentioning GOD, they steadfastly persevere during adversity, they observe the Contact Prayers (Salat), and from our provisions to them, they give to charity.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[22:41]</h6>
                        <p>They are those who, if we appointed them as rulers on earth, they would establish the Contact Prayers (Salat) and the obligatory charity (Zakat), and would advocate righteousness and forbid evil. GOD is the ultimate ruler.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[22:78]</h6>
                        <p>You shall strive for the cause of GOD as you should strive for His cause. He has chosen you and has placed no hardship on you in practicing your religion – the religion of your father Abraham. He is the one who named you “Muslims” originally. Thus, the messenger shall serve as a witness among you, and you shall serve as witnesses among the people. Therefore, you shall observe the Contact Prayers (Salat) and give the obligatory charity (Zakat), and hold fast to Allah; He is your Lord, the best Lord and the best Supporter.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[24:37]</h6>
                        <p> People who are not distracted by business or trade from commemorating GOD; they observe the Contact Prayers (Salat), and give the obligatory charity (Zakat), and they are conscious of the day when the minds and the eyes will be horrified.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[24:56]</h6>
                        <p>You shall observe the Contact Prayers (Salat) and give the obligatory charity (Zakat), and obey the messenger, that you may attain mercy.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[30:38]</h6>
                        <p>Therefore, you shall give the relatives their rightful share (of charity), as well as the poor, and the traveling alien. This is better for those who sincerely seek GOD’s pleasure; they are the winners.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[30:39]</h6>
                        <p>The usury that is practiced to increase some people’s wealth, does not gain anything at GOD. But if you give to charity, seeking GOD’s pleasure, these are the ones who receive their reward manifold.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[41:7]</h6>
                        <p>“Who do not give the obligatory charity (Zakat), and with regard to the Hereafter, they are disbelievers.”</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[57:7]</h6>
                        <p>Believe in GOD and His messenger, and give from what He has bestowed upon you. Those among you who believe and give (to charity) have deserved a great recompense.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[64:16]</h6>
                        <p>Therefore, you shall have reverence of GOD as much as you can, and listen, and obey, and give (to charity) for your own good. Anyone who is protected from his own stinginess, these are the successful ones.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[98:5]</h6>
                        <p>All that was asked of them was to worship GOD, devoting the religion absolutely to Him alone, observe the contact prayers (Salat), and give the obligatory charity (Zakat). Such is the perfect religion.</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[107:1-7]</h6>
                        <p>Do you know who really rejects the faith? That is the one who mistreats the orphans. And does not advocate the feeding of the poor. And woe to those who observe the contact prayers (Salat) – who are totally heedless of their prayers. They only show off. And they forbid charity.</p>
                    </li>
                    <li>
                        <h6 class="storie-details__title">[108:1-2]</h6>
                        <p>We have blessed you with many a bounty. Therefore, you shall pray to your Lord (Salat), and give to charity.</p>
                    </li>
                    <li>
                        <h6 class="storie-details__title">[6:114]</h6>
                        <p>“Shall I seek other than God as a source of law, when He has revealed to you this book fully detailed?”</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[16:89]</h6>
                        <p>“We have revealed to you this book to provide explanations for everything.”</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">[6:114]</h6>
                        <p> “He has revealed to you this book fully detailed.”</p>
                    </li>
                   
                </ul>
                <br />
                <hr />
                 <h5 class="article-information__title" style="color:#4a4c70">Courtesy : Centre for Zakat Management (CZM), Bangladesh</h5>
            </div>
        </div>
    </div>
</section>