@page
@model wbzf.Pages.Zakat_In_The_HadithModel
@{
    ViewData["Title"] = "Zakat in The Hadith";
}
<section class="section  storie-details">
    <div class="container">
      
        <div class="row">
            <div class="col-xl-12">
                 <div class="heading heading--primary heading--center">
                    <h2 class="heading__title no-margin-bottom">@ViewData["Title"]</h2>
                </div>
                <ul>
                   
                   <li>
                        <h6 class="storie-details__title">Abu Hurairah (May Allah be pleased with him) reported:</h6>
                        <p>A bedouin came to the Prophet (ﷺ) and said: “O Messenger of Allah! Direct me to a deed by which I may be entitled to enter Jannah.” The Prophet (ﷺ) said, “Worship Allah, and never associate anything with Him, establish Salat, pay the Zakat which has been enjoined upon you, and observe Saum of Ramadan.” He (the bedouin) said: “By Him in Whose Hand my soul is, I will never add anything to these (obligations).” When he turned his back, the Prophet (ﷺ) said, “He who wants to see a man from the dwellers of Jannah, let him look at him (bedouin).” </p>
                        <p>[Al- Bukhari and Muslim,Riyad as-Salihin 1212]</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">Narrated Ibn `Abbas:</h6>
                        <p>The Prophet (ﷺ) sent Mu`adh to Yemen and said, “Invite the people to testify that none has the right to be worshipped but Allah and I am Allah’s Messenger (ﷺ), and if they obey you to do so, then teach them that Allah has enjoined on them five prayers in every day and night (in twenty-four hours), and if they obey you to do so, then teach them that Allah has made it obligatory for them to pay the Zakat from their property and it is to be taken from the wealthy among them and given to the poor.”</p>
                        <p>[Sahih al-Bukhari 1395]</p>
                    </li>
                   <li>
                        <h6 class="storie-details__title">Narrated Abu Huraira:</h6>
                        <p>Allah’s Messenger (ﷺ) said, “Whoever is made wealthy by Allah and does not pay the Zakat of his wealth, then on the Day of Resurrection his wealth will be made like a baldheaded poisonous male snake with two black spots over the eyes. The snake will encircle his neck and bite his cheeks and say, ‘I am your wealth, I am your treasure.’ “Then the Prophet (ﷺ) recited the holy verses: — ‘Let not those who withhold . . .’ (to the end of the verse). (3.180).</p>
                        <p>[Sahih al-Bukhari 1403]</p>
                    </li>
                   
                   
                </ul>
                <br />
                <hr />
                 <h5 class="article-information__title" style="color:#4a4c70">Courtesy : Centre for Zakat Management (CZM), Bangladesh</h5>
            </div>
        </div>
    </div>
</section>